# Logs
logs
*.log

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dependency directories
node_modules/

# Dotenv environnement variable files
.env
.env.test

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Output of 'npm pack'
*.tgz